@model DigitalArt.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>
@*función para eliminar un registro*@

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreUsuarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreUsuarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionUsuarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionUsuarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoUsuarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoUsuarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdUsuarios" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" type="button" class="btn btn-warning">Regresar a listar</a>
    </form>
</div>
