@model DigitalArt.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
@* muestra los detalles de un registro *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreUsuarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreUsuarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionUsuarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionUsuarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoUsuarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoUsuarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
    </dl>
</div>
<div>
@*botones para editar y listar*@
    <a asp-action="Edit" asp-route-id="@Model?.IdUsuarios" type="button" class="btn btn-warning">Editar</a>
    <a asp-action="Index" type="button" class="btn btn-primary">Regresar a Listar</a>
</div>
