@model IEnumerable<DigitalArt.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Usuarios</h1>
@*botón neon para crear opiniones*@
<p>
    <a asp-action="Create" type="button"  class="neon-button neon-button__2">Crear Usuario</a>
</p>
<style>
    /* Estilo para card de Opiniones*/
    .card {
        display: flex;
        flex: 0 1 300px;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 1rem;
        padding: 1rem;
        background: rgba(0, 0, 0, 0.7)url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6fb254a1-b5b9-4a24-a4bc-89d3bf39c7e0/denglfq-9ba9539a-2371-41b9-8367-514b8c44d7a8.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzZmYjI1NGExLWI1YjktNGEyNC1hNGJjLTg5ZDNiZjM5YzdlMFwvZGVuZ2xmcS05YmE5NTM5YS0yMzcxLTQxYjktODM2Ny01MTRiOGM0NGQ3YTguZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ZLW8n8y4QAJ_KkqEcDq0jcSwb5VaGTUy4XQ5JkQE2rw");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: darken;
    }

</style>
<section>
@*imprime todos los datos de la BD en cards*@
@foreach (var item in Model)
{

        <div class="card">
          <div class="card-header">

          </div>
        <div class="card-body">
@*muestra en la card la descripción y el dato que se trae de la bd  *@
            <p class="card-text">
                    @Html.DisplayNameFor(model => model.NombreUsuarios) :
            </p>
            <p class="card-text">
                @Html.DisplayFor(modelItem => item.NombreUsuarios)
            </p>

            <p class="card-text">
                    @Html.DisplayNameFor(model => model.DireccionUsuarios) :
            </p>
            <p class="card-text">
                @Html.DisplayFor(modelItem => item.DireccionUsuarios)
            </p>

            <p class="card-text">
                @Html.DisplayNameFor(model => model.TelefonoUsuarios) :
            </p>
            <p class="card-text">
                @Html.DisplayFor(modelItem => item.TelefonoUsuarios)
            </p>

            <p class="card-text">
                @Html.DisplayNameFor(model => model.FechaRegistro) :
            </p>
            <p class="card-text">
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </p>
@*muestra los botones de editar,eliminar y detalles*@
            <p class="card-text">
                    <a asp-action="Edit" type="button" class="btn btn-warning" asp-route-id="@item.IdUsuarios">Edit</a>
                    <a asp-action="Details" type="button" class="btn btn-primary" asp-route-id="@item.IdUsuarios">Details</a>
                    <a asp-action="Delete" type="button" class="btn btn-danger" asp-route-id="@item.IdUsuarios">Delete</a> 
            </p>
        </div>
@*imagen del logo de la card*@
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/62142078-a6c3-4fab-9f03-9ede1adbf7d1/de24m6w-7daa02b3-76aa-47fc-875c-c907753606d2.png/v1/crop/w_92,h_92,x_3,y_0,scl_0.10562571756602,strp/rin_by_dav_19_de24m6w-92s.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODcxIiwicGF0aCI6IlwvZlwvNjIxNDIwNzgtYTZjMy00ZmFiLTlmMDMtOWVkZTFhZGJmN2QxXC9kZTI0bTZ3LTdkYWEwMmIzLTc2YWEtNDdmYy04NzVjLWM5MDc3NTM2MDZkMi5wbmciLCJ3aWR0aCI6Ijw9MTAwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.tFsvUbXDPJFjtjx_W3bDoMkLV1QCZdRuBwjnTlCl6gU" alt="">
    </div>

}
    <br>
</section>
@*saltos para el formato*@
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
