@model IEnumerable<DigitalArt.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<style>


</style>
<section>
@foreach (var item in Model)
{

    <div class="card">
        <div class="card-header">

            <p class="card-text">
                @Html.DisplayNameFor(model => model.NombreUsuarios)
            </p>
            <p class="card-text">
                @Html.DisplayNameFor(model => model.DireccionUsuarios)
            </p>
                <p class="card-text">
                @Html.DisplayNameFor(model => model.TelefonoUsuarios)
                    </p>
            <p class="card-text">
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </p>

        </div>
        <div class="card-body">


            <p class="card-text">
                @Html.DisplayFor(modelItem => item.NombreUsuarios)
            </p>
            <p class="card-text">
                @Html.DisplayFor(modelItem => item.DireccionUsuarios)
            </p>
            <p class="card-text">
                @Html.DisplayFor(modelItem => item.TelefonoUsuarios)
            </p>
            <p class="card-text">
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </p>
            <p class="card-text">
                    <a asp-action="Edit" type="button" class="btn btn-warning" asp-route-id="@item.IdUsuarios">Edit</a>
                    <a asp-action="Details" type="button" class="btn btn-primary" asp-route-id="@item.IdUsuarios">Details</a><br><br>
                    <a asp-action="Delete" type="button" class="btn btn-danger" asp-route-id="@item.IdUsuarios">Delete</a> 
            </p>


        </div>
    </div>

}
    <br>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
