@model IEnumerable<DigitalArt.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{

    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">

            <p class="card-text">
                @Html.DisplayNameFor(model => model.NombreUsuarios)
            </p>
            <p class="card-text">
                @Html.DisplayNameFor(model => model.DireccionUsuarios)
            </p>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoUsuarios)
            </th>
            <p class="card-text">
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </p>

        </div>
        <div class="card-body">


            <p class="card-text">
                @Html.DisplayFor(modelItem => item.NombreUsuarios)
            </p>
            <p class="card-text">
                @Html.DisplayFor(modelItem => item.DireccionUsuarios)
            </p>
            <p class="card-text">
                @Html.DisplayFor(modelItem => item.TelefonoUsuarios)
            </p>
            <p class="card-text">
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </p>
            <p class="card-text">
                <a asp-action="Edit" calss="btn btn-warning" asp-route-id="@item.IdUsuarios">Edit</a> |
                <a asp-action="Details" calss="btn btn-primary" asp-route-id="@item.IdUsuarios">Details</a> |
                <a asp-action="Delete" calss="btn btn-danger" asp-route-id="@item.IdUsuarios">Delete</a>
            </p>


        </div>
    </div>
}