@model DigitalArt.Models.Arte

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Arte</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreArte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreArte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionArte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionArte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkArte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkArte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Img)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Img)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdArte">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
